*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ specific
/.idea
/*.iml
/.idea_modules

# Eclipse specific
/.classpath
/.project
/.settings

# Play specific
logs
project/project
project/target
target
tmp
.history
dist
/out
/RUNNING_PID
